# Do not expose your Neon credentials to the browser

NEXT_PUBLIC_SUPABASE_URL=supabase_public_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key
            
DATABASE_URL=supabase_database_url
ORG_MAIL_SERVICE='smtp.gmail.com'
ORG_MAIL_USER='client@email.com@gmail.om'
ORG_MAIL_PASS='client_email_password'


